// Custom-Font for Application

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

* {
    background-color: rgb(255, 251, 244);
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}
body {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}
